:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --accent-text-color: #ffffff;
}
body {
  color: var(--primary-text-color);
}
/* heder */
.logo {
  color: var(--primary-text-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}
.accent {
  color: var(--accent-color);
}
.list {
  list-style: none;
}
.links-nav .link {
  color: var(--primary-text-color);
}

.links-nav .link:hover,
.contacts-nav .mail-tel:focus,
.contacts-nav .mail-tel:hover,
.links-nav .link:focus {
  color: var(--accent-color);
}
.contacts-nav .mail-tel {
  color: var(--title-text-color);
}
/* block-main */
/* filter-button-section */
/* projects-menu */
